<% include partials/head %>
<body>
<% include partials/header %>
<main>
    <article id="lebel">
        <img src="./img/bel.jpg" alt="Bel" id="fotoBel" onmouseover="this.style.width='300px',this.style.height='375px'" onmouseout="this.style.width='200px',this.style.height='250px'">
        <h3>Philippe le Bel</h3>
        <p>
            Philippe le Bel, c'est-à-dire Philippe IV, né en 1268 et mort le 29 novembre 1314, est le onzième
            roi capétien. C'est le
            fils de Philippe III, roi de France de 1270 à 1285, et d'Isabelle d'Aragon, fille du roi Jacques Ier
            d'Aragon. En 1284,
            il épouse Jeanne Ier de Navarre, fille du roi Henri Ier, roi de Navarre et comte de Champagne, et de
            Blanche d'Artois.
            Par ce mariage, le comté de Champagne est inclus à la Couronne et Philippe IV deviendra le premier
            "roi de France et de
            Navarre".
            <br>
            A la mort de son père en 1285, il monte sur le trône et s'entoure de conseillers tels que Guillaume
            de Nogaret,
            Enguerrand de Marigny et Pierre Flote. Avec ces derniers, il s'efforce de moderniser un Etat encore
            féodal, en
            renforçant le pouvoir royal et en organisant l'administration. Son règne est marqué par une forte
            instabilité monétaire,
            due à la succession de dévaluations et de réévaluations. D'autre part, en levant l'impôt sur le
            clergé en 1296, Philippe
            IV s'attire les foudres du pape Boniface VIII. En 1303, ce dernier est retenu par le roi de France
            au palais d'Agnini.
            Deux ans plus tard, l'élection de Clément V met un terme aux tensions. En 1309, le pape s'installe à
            Avignon, preuve de
            la soumission de la papauté au roi de France.
            <br>
            Philippe IV reprend la guerre contre les Anglais. Suite à la victoire des Anglais, Philippe IV
            marie, en 1308, sa fille
            Isabelle de France à Edouard II d'Angleterre. Ce mariage interrompt, certes temporairement, le
            conflit. Le roi de France
            décide d'entreprendre des conquêtes territoriales en Flandre. Après sa victoire à Mons-en-Pévèle en
            1304 et le traité
            d'Athis-sur-Orge en 1305, il assoie sa domination sur Béthune, Douai et Lille.
            Pour des raisons religieuses, financières et politiques, Philippe IV s'attaque à l'ordre des
            Templiers et son grand
            maître, Jacques de Molay est arrêté. En 1312, Philippe IV obtient, au terme d'un procès discutable,
            la condamnation et
            la suppression de l'ordre (Lire le livre d'Alain Demurger sur les Templiers). Simultanément,
            Philippe IV persécute les
            Juifs et les commerçants étrangers. A sa mort en 1314, son fils lui succède sous le nom de Louis X.
        </p>
        <h4>Mariages et descendance :</h4>
        <p>
            Suite à leur mariage en 1284, Philippe IV et Jeanne de Navarre ont eu sept enfants, dont quatre ont
            atteint l'âge adulte
            :

            - Louis X (1289-1316), roi de France de 1314 à 1316
            <br>
            - Marguerite de France (1290-1294)
            <br>
            - Philippe V (1291-1322), roi de France de 1316 à 1322
            <br>
            - Isabelle (1292-1358), épouse du roi Edouard II d'Angleterre
            <br>
            - Blanche de France (1293-1294)
            <br>
            - Charles IV (1294-1328), roi de France de 1322 à 1328
            <br>
            - Robert de France (1296-1308)
        </p>
    </article>
    <br>
    </section>
    <% include partials/footer %>
