
 <% include partials/head %> 
<% include partials/header %>
    <section id="sliderpourmarg">
      <div class="slider">
        <div class="item">
          <img src="./img/fon1.jpg" alt="Первый слайд">
          <div class="slideText">Aimez-vous l'histoir?</div>
        </div>
    
        <div class="item">
          <img src="./img/fon2.jpg" alt="Второй слайд">
          <div class="slideText">Rejoignez nous..</div>
        </div>
    
        <div class="item">
          <img src="./img/fon3.jpg" alt="Третий слайд">
          <div class="slideText">Nous avons tous ce qui vous plait.</div>
        </div>
    
        <a class="prev" onclick="minusSlide()">&#10094;</a>
        <a class="next" onclick="plusSlide()">&#10095;</a>
      </div>
      <br>
    
      <div class="slider-dots">
        <span class="slider-dots_item" onclick="currentSlide(1)"></span>
        <span class="slider-dots_item" onclick="currentSlide(2)"></span>
        <span class="slider-dots_item" onclick="currentSlide(3)"></span>
      </div>
    </section>
    <section class="block3">
      <article class="inscription">
     <form method="POST" action="/contact" name="set_from">
          <label>Nom <input type="text" placeholder="Votre nom" id="nom" required="required" maxlength="20" name="nom"></label>
          <span id="nom_manque"></span>
          <br>
          <label>prenom <input type="text" placeholder="Votre prenom" id="prenom" required maxlength="10" name="prenom"></label>
          <span id="prenom_manque"></span>
          <br>
          <label>date de naissance <input type="date" placeholder="Votre date de naissance" required="required" name="ddn"></label>
          <br>
          <label>Adress <input type="text" placeholder="Votre adress" id="adress" required="required" name="adress"></label>
          <span id="adress_manque"></span>
          <br>
          <label>code postal <input type="number" placeholder="Votre code postal " required="required" name="CP"></label>
          <br>
          <label>Ville <input type="text" placeholder="Votre Ville" required="required" name="ville"></label>
          <br>
          <label>E-mail <input type="email" placeholder="Votre email" required="required" name="mail"></label>
          <br>
          <label>téléphone <input type="tel" placeholder="Votre telephone" required="required" maxlength="11" name="telephone"></label>
    
          <br>
          <input type="submit" value="Valider" id="bouton_envoi">
      </form>
      </article>
      <article class="contact">
        <ul class="nonstyle" id="contact">
          <li>
            <h4>Contactez-nous</h4>
          </li>
          <li> <a
              href="https://www.google.com/maps/place/13+Rue+Jean+Varenne,+75018+Paris/@48.8989016,2.3339632,17z/data=!3m1!4b1!4m5!3m4!1s0x47e66ef82dd9bb33:0xc45e795a1b7a5ea5!8m2!3d48.8989016!4d2.3361519"><i
                class="fa fa-map-pin" aria-hidden="true"></i>13 rue Jean Varenne Paris</a></li>
          <li><a href="tel:+33695557712"><i class="fa fa-phone" aria-hidden="true"></i>0695557712</a></li>
          <li><a href="mailto:helen_moiseeva@yahoo.com"> <i class="fa fa-envelope-open"
                aria-hidden="true"></i>helen_moiseeva@yahoo.com</a></li>
          <li><a href="skype:Elena Moiseeva"> <i class="fa fa-skype" aria-hidden="true"></i>Elena Moiseeva</a></li>
        </ul>
      </article>
    
    </section>




<% include partials/footer %>
