<% include partials/head %>
<body>
<% include partials/header %>
<main>
    
        <article id="Capet">
            <img src="./img/Capet.jpg" alt="capet" id="fotocapet" onmouseover="this.style.width='300px',this.style.height='375px'" onmouseout="this.style.width='200px',this.style.height='250px'">
            <h3>Hugues Ier, dit Hugues Capet</h3>
            <p>né en 941 et mort en 996, est le premier roi de la dynastie des capétiens. Il régna de 987 à 996. Il
                est le fils de
                Hugues le Grand (comte de Paris à partir de 923 puis duc des Francs en 936 jusqu'à sa mort en 956,
                fils de Robert Ier,
                roi de France de 922 à 923, et de Béatrice de Vermandois) et d'Hedwige de Saxe (fille de Henri Ier
                de Saxe, roi de
                Germanie ; elle est notamment la soeur d'Otton Ier, empereur du Saint Empire germanique, et de
                Gerberge de Saxe, épouse
                de Louis IV d'Outremer, roi des Francs de 936 à 954). Par conséquent, Hugues Capet est le petit-fils
                de Robert Ier.
                <br>
                En 956, Hugues le Grand meurt. Son fils, Hugues Capet, est placé sous la tutelle de son oncle,
                l'archevêque Brunon de
                Cologne. A sa majorité, Hugues Capet, devenu alors duc des Francs, prend le contrôle de nombreux
                territoires qu'il a
                hérité de son père : les comtés de Paris, d'Orléans, de Dreux et de Senlis.
                <br>
                En 978, Hugues Capet, par ses nombreux appuis, notamment celui de l'évêché de Reims, est l'un des
                hommes forts du
                royaume. Son cousin, Lothaire (roi de France de 954 à 986), souhaite assurer sa succession en
                faisant monter sur le
                trône son fils aîné Louis. Lothaire l'associe au trône et le fait couronner à Compiègne par
                Adalbéron, archevêque de
                Reims. Voyant l'emprise croissante d'Hugues Capet sur le royaume, Lothaire décide de se réconcilier
                avec Otton II
                (empereur du Saint Empire germanique et fils d'Otton Ier, donc neveu d'Hugues Capet). De plus,
                Lothaire va marier son
                fils Louis à Adélaïde d'Anjou ce qui lui apportera l'Auvergne et le comté de Toulouse. Le couple
                divorcera deux ans plus
                tard : c'est un échec. Lothaire meurt en 986 en n'ayant pas réussi à assurer sa succession comme il
                le souhaitait. Louis
                devient roi des Francs sous le nom de Louis V, un règne qui ne durera qu'un an (il mourut sans
                héritier d'une chute de
                cheval lors d'une partie de chasse alors qu'il avait convoqué pour le lendemain une assemblée de
                Francs). L'assemblée,
                qui se réunit en juin 987, élit un nouveau roi en la personne d'Hugues Capet.
                <br>
                Le 3 juillet 987, Hugues Capet est sacré roi en la cathédrale de Noyon par l'évêque de Reims. Il
                fait couronner son fils
                Robert d'Orléans, le 30 juillet 987, assurant ainsi la continuité du pouvoir à la dynastie des
                Capétiens. Hugues Capet a
                réussi à agrandir le domaine royal (Oise, Aisne). Son pouvoir reste néanmoins limité puisqu'il
                dépend du soutien de
                l'Eglise et des grands seigneurs ; il n'exerce aucun contrôle sur les territoires du sud de la
                Loire. Robert II, son
                fils, hérite donc d'un domaine royal restreint mais bien établi. Les successeurs vont s'employer à
                renforcer le pouvoir
                des capétiens en France et à agrandir le domaine royal.</p>
            <h4>Mariage et descendance :</h4>
            <p>
                Vers 968, Hugues Capet épouse Adélaïde d'Aquitaine, fille de Guillaume III Tête d'Etoupe (comte de
                Paris et duc
                d'Aquitaine) et d'Adèle de Normandie. Ce mariage confère au fondateur de la dynastie des capétiens
                une puissance
                certaine. De cette union naissent quatre enfants dont Robert, futur roi de France sous le nom de
                Robert II de 996 à
                1031.
            </p>
            </article>

      

<% include partials/footer %>
