<% include partials/head %>

<body>
    <% include partials/header %>
    <main>
            <article id="Louis">
                <img src="./img/Louis IX.jpg" alt="Louis" id="fotoLouis" onmouseover="this.style.width='300px',this.style.height='375px'" onmouseout="this.style.width='200px',this.style.height='250px'">
                <h3>Louis IX - Saint Louis</h3>
                <p>
                    Louis IX, autrement appelé Saint Louis, né le 25 avril 1214 à Poissy et mort en 1270 à Tunis, est le
                    neuvième roi de
                    France de la dynastie des capétiens. C'est le fils de Louis VIII le Lion et de Blanche de Castille.
                    A la mort de Louis
                    VIII, Louis IX, trop jeune (12 ans) pour régner, est placé sous la régence de sa mère, Blanche de
                    Castille. Il est
                    couronné le 29 novembre 1226 par l'évêque de Soissons, Jacques de Bazoche. En réponse à la révolte
                    des barons anglais
                    soutenue par Henri III, il mène victorieusement une campagne contre l'Angleterre : il remporte de
                    grandes batailles
                    comme celles de Taillebourg et de Saintes, en 1242. Durant la septième croisade, dont il est le
                    principal organisateur,
                    sa mère est une nouvelle fois régente du royaume. Louis IX quitte la France en 1248, pour arriver en
                    Egypte en 1249. En
                    1250, Louis IX est fait prisonnier à Mansourah. Il sera libéré en 1254, année durant laquelle il
                    fera son retour en
                    France. La septième croisade fut un échec.
                    <br>
                    Louis IX développe considérablement la justice royale en donnant la possibilité à tous de faire
                    appel à lui pour rendre
                    justice. De plus, par l'ordonnance de 1263, les monnaies seigneuriales ne peuvent plus circuler
                    uniquement sur le
                    domaine du seigneur émetteur et ne peuvent plus imiter la monnaie royale. Saint Louis est à
                    l'origine de la création du
                    Parlement et de la Cour des comptes.
                    <br>
                    Le 2 juillet 1270, Saint Louis part du royaume pour mener la huitième croisade. Après la chute de
                    Carthage, obtenue
                    aisément le 17 juillet, Louis IX décide d'attendre les renforts de son frère Charles d'Anjou.
                    L'armée du roi de France,
                    largement atteinte par la peste, est décimée. Louis IX meurt le 25 août 1270, à Tunis, alors que son
                    frère arrive à
                    Carthage.
                    <br>
                    En 1297, le pape Boniface VIII canonise Louis IX sous le nom de Saint Louis.
                </p>
                <h4>Mariages et descendance :</h4>
                <p>
                    En 1234, Louis IX épouse Marguerite de Provence, fille du comte de Provence Raimond Bérenger et de
                    Béatrice de Savoie.
                    Ils eurent onze enfants dont :
                    <br>
                    - Isabelle (1242-1271), épouse du roi de Navarre Thibaud de Champagne
                    <br>
                    - Philippe (1245-1285), futur roi de France sous le nom de Philippe III le Hardi
                    <br>
                    - Jean-Tristan, comte de Valois et de Nevers
                    <br>
                    - Pierre, comte d'Alençon et du Perche
                </p>

            </article>
            <% include partials/footer %>
        </body>

        </html>