<% include partials/head %>

<body>
    <% include partials/header %>
    <main>
        <article id="Auguste">
            <img src="./img/Auguste.jpg" alt="Auguste" id="fotoAuguste" onmouseover="this.style.width='300px',this.style.height='375px'" onmouseout="this.style.width='200px',this.style.height='250px'">
            <h3>Philippe II Auguste</h3>
            <p>Philippe II Auguste, né à Paris le 15 août 1165 et mort à Mantes en 1223, est le septième roi de
                France de la dynastie
                des capétiens. Il régna de 1180 à 1223. C'est le premier fils de Louis VII et d'Adèle de Champagne.
                Tout comme ses
                ancêtres, Louis VII a fait sacrer son fils pour assurer la continuité héréditaire de la monarchie.
                Ainsi, Philippe II
                Auguste est sacré à Reims en 1179. Philippe II Auguste fit de la lutte contre les Anglais une des
                ses priorités. Il
                entra en conflit avec Richard Coeur de Lion, roi d'Angleterre de 1189 à 1199, puis avec son
                successeur, Jean sans Terre,
                roi d'Angleterre de 1199 à 1216. Durant l'année 1200, en tant que diplomate et négociateur averti,
                Philippe II accepte
                de reconnaître à Jean sans Terre la possession de la Normandie en échange du Vexin normand et du
                pays d'Evreux. Il
                s'empara par la suite de l'Anjou, du Maine, de la Touraine, de la Normandie (prise de
                Château-Gaillard en 1204), d'une
                partie du Poitou et de la Bretagne. De ce fait, Jean sans Terre ne possède plus que l'Aquitaine
                (héritée du mariage
                d'Aliénor d'Aquitaine avec Henri II Plantagenêt) et une partie du Poitou. En 1212, la réussite et la
                montée en puissance
                de Philippe II amène ses ennemis [notamment Jean sans Terre, Otto IV von Brünwick (empereur romain
                germanique), Ferrand
                de Portugal (aussi comte de Flandre par son mariage avec la comtesse de Flandre et de Hainaut Jeanne
                de Flandre), un ami
                d'enfance de Philippe Auguste, à savoir le comte de Boulogne Renaud de Dammartin, Arnoul IV
                (seigneur d'Audenarde),
                Buridan de Furnes (chevalier flamand), Hugues de Boves (chevalier amiénois), le comte de Salisbury
                et Gauthier de
                Ghistelle (chevalier)] à se coaliser contre Philippe II Auguste. Néanmoins, en 1214, Philippe II
                parvient à écraser la
                coalition à la Roche-aux-Moines et à la célèbre bataille de Bouvines.
                <br>
                A la fin du règne de Philippe II, le domaine royal est quatre fois plus important qu'au début de son
                règne. Les baillis
                et les sénéchaux permettent une administration efficace et la réforme du système d'argent permet
                l'entretien d'une armée
                permanente. Il bâti la forteresse du Louvre et participe à la construction de Notre-Dame de Paris
                commencée en 1163.
                C'est pourquoi, Philippe II Auguste est considéré comme l'un des plus grands rois de France.</p>
            <h4>Mariages et descendance :</h4>
            <p>En 1180, Philippe II épouse Isabelle de Hainaut, fille de Baudouin V de Hainaut, comte de Flandre et
                de Hainaut, et de
                Marguerite de Flandre. Un fils naquit de cette union, le futur roi de France Louis VIII le Lion. Il
                la répudia en 1184.
                En 1193, il épouse Ineburge de Danemark, fille du roi de Danemark, puis la répudie aussitôt. En
                1196, il se marie à
                Agnès de Méranie qui lui donne deux enfants : Philippe Hurepel et Marie. Mais en 1200, il est
                contraint par les papes
                Célestin III et Innocent III de revenir avec sa seconde femme, Ineburge de Danemark.</p>
        </article>
        <% include partials/footer %>
