<% include partials/head %>

<body>
  <% include partials/header %>
  <main>
    <section class="block1">
      <article id="dynastieleft">
        <img src="./img/blason.jpg" alt="Le blason des Capétiens" id="blason">
        <p> Le nom de Capétiens vient du premier roi d'une longue lignée qui, à travers trente-sept souverains,
          a fait la France :
          Hugues surnommé Capet à cause de la chape (cappa) qu'il portait en tant qu'abbé laïque (le mot capet
          signifiait que
          Hugues était "bien pourvu en abbayes").
          <br>
          Mais la maison capétienne remonte beaucoup plus loin, au moins à Robert le Fort, comte d'Anjou, de
          Blois et de Paris,
          tué en 866, à Brissarthe, en combattant les envahisseurs normands et dont l'origine a donné lieu à
          diverses hypothèses
          invérifiables.
          <br>
          Parmi les descendants de Robert le Fort, trois montent sur le trône aux temps carolingiens : ses
          fils Eudes (888-898) et
          Robert Ier (922-923) et le gendre de celui-ci, Raoul (923-936).
          Pendant cette période, les deux races, carolingienne et robertienne alternent sur le trône. Un
          dernier Robertien refuse
          la couronne : le puissant Hugues le Grand, mort en 956, qui prépare la voie à son fils, Hugues
          Capet.
          Celui-ci est élu roi à Noyon, le 1 juin 987, par les grands du royaume. Il a l'habileté d'associer
          au trône, de son
          vivant, son fils Robert, lui donnant ainsi le prestige du sacre. Cette tradition, assurant la
          continuité de la couronne
          dans la descendance mâle directe, dure jusqu'à Philippe Auguste (1165-1223), qui juge le principe
          d'hérédité assez
          établi désormais pour ne pas avoir besoin de cette garantie pour son héritier.
          Hugues Capet Hugues Capet
          <br>
          Son fils, Louis VIII, est donc le premier roi véritablement héréditaire. Le souci des Capétiens
          directs, bien qu'ils
          n'ont pas tous été des hommes de premier plan, mais qui comptent parmi eux un Philippe Auguste, un
          Louis XI, un Philippe
          le Bel, est d'être des fédérateurs. Ils accomplissent une œuvre considérable, rassemblant avec
          patience et ténacité les
          provinces et agrandissant peu à peu le domaine royal.
          Quand les Capétiens directs s'éteignent à la mort de Charles IV le Bel en 1328, leurs quinze rois
          (en comptant un enfant
          qui ne vécut que quelques jours, Jean Ier) ont formé l'essentiel de la France.
          En vertu de la loi salique, le droit à la couronne passe à Philippe, comte de Valois, qui prend le
          nom de Philippe VI.
          Jusqu'en 1589, le règne des Valois, ces Capétiens indirects, longtemps méconnus et calomniés, se
          poursuit à travers les
          branches des Valois (sept rois, dont Louis XI), des Valois-Orléans (Louis XII), des Valois-Angoulême
          (cinq rois, dont
          François Ier).
          <br>
          A la mort d'Henri III sans héritier mâle, la couronne passe à la branche des Bourbons, issue de
          Robert, fils de Saint
          Louis, avec Henri IV, dont les six descendants (sans compter Louis XVII) règnent, avec l'intermède
          de la Révolution de
          1789, jusqu'à celle de 1830, qui fait monter sur le trône un Orléans. Louis-Philippe, descendant du
          frère de Louis XIV.
        </p>
      </article>
      <article id="arbregenealogiqueright">
        <img src="./img/arbregenealogique.jpg" alt="arbre genealogique" id="arbregenealogique">
      </article>
    </section>

    <% include partials/footer %>
