</main>
<footer>
    <span id="time"> 00:00:00</span>
    <script>
    function heure() {  /*имя сами придумали это для часов на сайте*/
            date = new Date()/*cоздает объект с текущей датой*/
                h = date.getHours(),  /* возвращает час из даты*/
                m = date.getMinutes(),
                s = date.getSeconds(),
                h = (h < 10) ? '0' + h : h,
                m = (m < 10) ? '0' + m : m,
                s = (s < 10) ? '0' + s : s,
                document.getElementById('time').innerHTML = h + ':' + m + ':' + s;

            if (s % 2 === 0) { document.getElementById('time').setAttribute("style", "color: red;") }
            else {
                document.getElementById('time').setAttribute("style", "color: 	#A39863;")

            }
        }
        setInterval(heure, 1000);
</script>
</footer>
<script src="./javascripts/script.js"></script>
</body>

</html>