<body>
  <header>
    <nav>
      <nav id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="/principal">Acceuil</a>
        <a href="/hugues-capet">Hugues Capet</a>
        <a href="/Phil">Philippe Auguste</a>
        <a href="/LouisIX">Louis IX</a>
        <a href="/bel">Philippe le Bel</a>
        <a href="/contact">Contact</a>

      </nav>
      <span style="font-size:30px;cursor:pointer" onclick="openNav()" id="menu">☰ Menu</span>
      <br>
    </nav>
    <br>
    <h1 id="acceuil">les grands Rois de la dynastie capétienne (987-1328)</h1>

  </header>
  <main>