<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Permanent+Marker&display=swap" rel="stylesheet">
    <title>les grands Rois de la dynastie capétienne</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK|Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=225" , initial-scale=1>
    <!--во всю ширину экрана и не увеличивается-->
  <script src="https://use.fontawesome.com/b925878fd3.js"></script>
  <script type="text/javascript" src="./javascripts/jquery-3.4.1.js"></script>
    <script src="./javascripts/script.js"></script>
  <link rel="icon" type="image/x-icon" href="./img/fv.png">
  <script type="text/javascript" src="./javascripts//JQ.js"></script>

 <!-- проверим что JQ подключен<script type="text/javascript">
    $(document).ready(function () {
      $('body').append('<br/>Этот текст добавлен с помощью jQuery');
    });
  </script>-->
</head>