*{
    margin: 0;
    padding: 0;
    text-align: justify;
}
body{
     background: #FFFFE0;
     font-size: 18px;
}
h1,h2,h3,h4{
    text-align: center;
}
header{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100px;
    background:#636F97;
}
/*menu commence*/
 #menu{
    position: fixed;
    z-index: 1;
    color: #6D0303;
}

.sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
   /* color: #818181;*/
   color: #636F97;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#xz{
    padding-top: 10vh;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*fin menu*/
main{
    padding-top: 65px;
}

.block1{
    display: flex;
    position: relative;
}

.dynastieleft{
flex: 2;
}
#blason{
    width: 250px;
    height: 250px;
    float: left;
}
.arbregenealogiqueright{
flex: 1;
}
#arbregenealogique{
    padding: 5px;
}
#Capet,#Auguste,#Louis,#lebel{
    text-align: center;
   margin-left: 20vh;
   margin-right: 20vh;
   /* height:450px ;
    overflow-y: scroll;*/
    background-color: #FFFFC3;
}
p{
    padding-left: 2%;
    padding-right: 2%;
}
#fotoBel,#fotoLouis,#fotoAuguste,#fotocapet{
    width: 200px;
   height: 250px;   
   border:2px solid #636F97;
   box-shadow: #aaa;
   
}
.block3{
    padding-top: 5%;
    display: flex;
}
.inscription{
    flex:1;
    padding-left: 10%;
    line-height: 1.6;
}
.contact{
    flex: 1;
    padding-left: 10%;
}
footer{
    width: 100%;
    text-align: right;
    height:50px ;
    background:#636F97;
    margin-top: 3%;
}
#time{
    text-align: right;
    font-size: 30px;
}
a{
    text-decoration: none;
    color:black;
}
.nonstyle{
    list-style: none;
}
#contact{
color: black;
font-size: 18px;
line-height: 1.6;
}

/* Собственно сам слайдер */
.slider{
    padding-top: 5%;
    max-width: 80%;
    position: relative;
    
    height: 100px;
    margin-bottom: 130px;
    margin: auto;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 100px;
}

/* Кнопки вперед и назад */
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -5px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}


.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* При наведении на кнопки добавляем фон кнопок */

.slider .prev:hover,
.slider .next:hover {
    background-color: /*rgba(0, 0, 0, 0.8);*/#636F97;
}


/* Заголовок слайда */
.slideText {
    position: absolute;
    color:#636F97;
    font-size: 42px;
    /* Выравнивание текста по горизонтали и по вертикали*/
    left: 45%;
    top: 65%;
    transform: translate(-50%, -50%);
    /* Тень*/
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}


/* Кружочки */

.slider-dots {
  text-align: center;
 
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
    background-color: #aaa;
}


/* Анимация слайдов */

.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/*респонсивность*/
@media screen and (max-width: 920px)
{

    #arbregenealogique{
        display: none;
    }
    main{
        width: 100%;
    }
    .block1,.block2,.block3{
        display: inline;
    }
    #Capet,#Auguste,#Louis,#lebel{
        overflow: hidden;
        margin-left: 1%;
        margin-right: 1%;
    }
    #inscription{
        text-align: start;
        padding-left: 10%;
    }
    #contact{
        text-align: start;
        padding-left: 1%;
    }
    h1{
        font-size: 30px;
    }
}
@media screen and (max-width: 800px)
{
       header{
    height: 200px;
}
main{
    padding-top: 110px;
}
#sliderpourmarg{
   padding-top: 80px; 
}
}
@media screen and (max-width: 650px)
{
.slideText {
    font-size: 30px;
      left: 40%;
}
}
@media screen and (max-width: 350px)
{
       header{
    height: 225px;
}
main{
    padding-top: 140px;
}
#blason{
    float: none;
}
.inscription{
    font-size: 15px;
}
.slideText {
    font-size: 16px;
}
}